@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-primary: var(--font-pp-neue-corp);

  --text-display-large: 91px;
  --text-display-medium: 54px;
  --text-display-small: 36px;
  --text-headline-large: 57px;
  --text-headline-medium: 40px;
  --text-headline-small: 28px;
  --text-title-large: 32px;
  --text-title-medium: 25px;
  --text-title-small: 20px;
  --text-navlink-large: 22px;
  --text-navlink-medium: 20px;
  --text-navlink-small: 18px;
  --text-body-large: 18px;
  --text-body-medium: 16px;
  --text-body-small: 14px;
  --text-label-large: 16px;
  --text-label-medium: 14px;
  --text-label-small: 12px;

  --max-width-desktop: 1800px;

  --breakpoint-3xl: 120rem;

  /* Heights based on Tailwind's spacing scale: --spacing: 0.25rem /* 4px */
  --height-header: calc(var(--spacing) * 20) /* [40] 10rem = 160px */;
  --height-footer: calc(var(--spacing) * 150); /* [150] 37.5rem = 600px */
  --height-content: calc(100svh - var(--height-header));

  --padding-header: calc(var(--height-header) + calc(var(--spacing) * 8));
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  /* SCROLLBAR STYLES */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--secondary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
  }

  button {
    @apply cursor-pointer;
  }

  /* FOCUS STYLES */
  :focus-visible {
    @apply outline-none ring-4 ring-accent;
  }

  /* LINK STYLES */
  .underlined-link {
    @apply relative inline-block w-fit cursor-pointer overflow-x-clip text-inherit no-underline;
  }

  .underlined-link::after {
    @apply absolute bottom-0.5 left-0 z-50 h-0.5 w-full -translate-x-[102%] bg-current transition-transform duration-300 content-[''];
  }

  .underlined-link:hover::after,
  .active.underlined-link::after {
    @apply translate-x-0;
  }

  /* BUTTON STYLES */

  button {
    @apply cursor-pointer;
  }

  .btn {
    @apply rounded-3xl px-4 py-3 leading-none font-medium transition-colors duration-300 flex items-center justify-center gap-2 focus:ring-2 focus:ring-accent focus:ring-offset-2 disabled:opacity-50;
  }

  .btn-primary {
    @apply bg-primary text-secondary hover:bg-accent;
  }

  .btn-secondary {
    @apply bg-secondary text-primary hover:bg-accent;
  }

  .btn-accent {
    @apply bg-accent text-secondary hover:bg-accent;
  }

  .btn-secondary-sm {
    @apply bg-secondary px-2 py-0.5 text-label-large font-medium text-primary transition-colors duration-300 hover:bg-secondary/30 hover:text-secondary;
  }

  .btn-ghost {
    @apply flex items-center border border-secondary bg-transparent px-4 py-2 font-medium text-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  .btn-ghost-sm {
    @apply flex items-center border border-secondary bg-transparent px-2 py-[2px] text-label-large font-medium text-secondary transition-colors duration-300 hover:bg-secondary hover:text-primary;
  }

  /* PILL STYLES */
  .pill-button {
    @apply rounded-full px-4 py-2 leading-none font-medium transition-colors duration-300 uppercase text-label-medium;
  }

  /* HEADING STYLES */
  .heading-display {
    @apply text-display-small leading-none font-thin sm:text-display-medium xl:text-display-large uppercase;
  }

  .heading-headline {
    @apply text-headline-small leading-none font-thin sm:text-headline-medium xl:text-headline-large uppercase;
  }

  .heading-title {
    @apply text-title-small font-normal sm:text-title-medium xl:text-title-large uppercase leading-none text-pretty;
  }

  /* TEXT STYLES */
  .text-navlink {
    @apply text-navlink-small md:text-navlink-medium lg:text-navlink-large uppercase;
  }

  .text-body {
    @apply text-body-medium md:text-body-large;
  }

  .text-paragraph {
    @apply text-body-small md:text-body-medium max-w-prose text-pretty lg:text-body-large;
  }

  .text-label {
    @apply text-label-small md:text-label-medium lg:text-label-large uppercase leading-5;
  }

  /* UTILITIES */
  .gutter-stable {
    scrollbar-gutter: stable;
  }

  .gutter-auto {
    scrollbar-gutter: auto;
  }

  .spinner {
    @apply w-4 h-4 border-2 border-secondary border-t-transparent rounded-full animate-spin;
  }
}
